

<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="static\login.css">
</head>
<body>

<div class="login-page">
  <div class="form">
    <form class="login-form" action="/index" method="post">
      <input type="text" name="username" placeholder="username" required="required"/>
      <input type="password" name="password" placeholder="password" required="required"/>
      <button type="submit">Login</button>
      <!-- <p class="message">Forgot Password? <a href="#">Click here</a></p> -->
    </form>
    <h3>{{info}}</h3>
  </div>
</div>

</body>
</html>